{% extends 'icemaster/icecream_base.html' %}

{% block title %}
УРА! Мороженое
{% endblock %}

{% block content %}
<p class="my-0 me-md-auto fw-normal p-2 text-white bg-dark aligh-items-center"><big><big><big><big>А вот какое мороженое мы можем вам предложить:</big></big></big></big></p>
    	         <UL >
					 <LI align="middle"><a href = "/first_ice_cream"><big><big>Шоколадное</big></big>
            	   <LI align="middle"><a href = "/second_ice_cream"><big><big>Ванильное</big></big>
                   <LI align="middle"><a href = "/third_ice_cream"><big><big>Клубничное</big></big>
         	     </UL>
{% endblock %}