{% extends 'icemaster/icecream_base.html' %}

{% block title %}
Ванильное
{% endblock %}

{% block image %}
{% load static %}
<img src="{% static 'icemaster/vanil.jpg' %}"  width="440" height="394">
{% endblock %}

{% block content %}
<TABLE border=3 align="center">
      <TR><TH rowspan=7><TH colspan=2>
      <TR><TH>Сорт<TD>Мороженое со вкусом натуральной ванили
      <TR><TH>Полное наименование<TD>Пищевой замороженный продукт-десерт со вкусом "Ваниль"
      <TR><TH>Состав<TD>Ваниль, сыворотка молочная восстановленная, молочный напиток, заменитель молочного жира, стабилизаторы, молоко сухое обезжиренное
      <TR><TH>Поставщик<TD><b>ОАО "Сладкий мир"</b>
      <TR><TH>Цена<TD><b>510 руб./кг</b>
      <TR><TH>Артикул<TD>#МВ0F0FF3
</TABLE>
{% endblock %}

{% block tomain %}
<p align = "middle" class = "my-0 me-md-auto fw-normal p-2 text-white bg-dark align-items-center"><a href="{% url 'home' %}"><font color="white"><big>Главная</big></font></a></p>
{% endblock %}
